<launch>
    <param name="use_sim_time" value="true" />

    <!-- Main node -->
    <node name="orb_slam3" pkg="orb_slam3_ros" type="ros_mono_inertial" output="screen">
        <!-- change the topics according to the dataset -->
        <remap from="/camera/image_raw"    to="/realsense/color/image_raw"/>
        <remap from="/imu"                  to="/imu/data"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string" value="$(find orb_slam3_ros)/orb_slam3/Vocabulary/ORBvoc.txt.bin"/>
        <param name="settings_file" type="string" value="$(find vslam_comparison)/config/gazebo_realsense_d315_and_imu_models.yaml"/>

        <!-- Parameters for ROS -->
        <param name="world_frame_id"    type="string"   value="map" />
        <param name="cam_frame_id"      type="string"   value="orb_slam_camera" />
        <param name="imu_frame_id"      type="string"   value="base_link" />
        <param name="enable_pangolin"   type="bool"     value="true" />
    </node>
    
    <!-- Visualization -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orb_slam3_ros)/config/orb_slam3_with_imu.rviz" output="screen" /> -->
</launch>
