<launch>
    <arg name="bag_filepath" default="$(env HOME)/bags/lar-gazebo"/>
    <arg name="bag_filename" default="lar_gazebo"/>

    <arg name="topics_to_record"
        value="/front/scan
            /imu/data
            /odometry/filtered
            /realsense/color/image_raw
            /realsense/depth/image_rect_raw
            /tf
            /tf_static
            /gazebo_ground_truth/odom
            /joint_states
            /husky_velocity_controller/cmd_vel
            /clock"
    />

    <node name="rosbag" pkg="rosbag" type="record" output="screen"
        args="--lz4 $(arg topics_to_record) -O $(arg bag_filepath)/$(arg bag_filename)"
    />
</launch>
